[submodule "submodules/emergent_world_reps"]
	path = submodules/emergent_world_reps
	url = https://github.com/DeanHazineh/Emergent-World-Representations-Othello.git
[submodule "submodules/SAE_boardGame"]
	path = submodules/SAE_boardGame
	url = https://github.com/adamkarvonen/SAE_BoardGameEval
[submodule "submodules/OthelloGPT"]
	path = submodules/OthelloGPT
	url = https://github.com/ztjona/OthelloGPT
[submodule "submodules/Quartopy"]
	path = submodules/Quartopy
	url = https://github.com/ztjona/Quartopy
